.Pokecard {
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
  width: 200px;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 6px 3px grey;
  text-align: center;

  h1 {
    color: rgb(65, 131, 185);
    font-size: 24px;
  }

  p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  &:hover {
    padding: 30px;
  }
}